<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
<form action="/register" method="POST">
  Username: <input type="text" name="username" required><br>
  Password: <input type="password" name="password" required><br>
  First Name: <input type="text" name="firstName" required><br>
  Last Name: <input type="text" name="lastName" required><br>
  Age: <input type="number" name="age" required><br>
  Country: <input type="text" name="country" required><br>
  Gender: <select name="gender" required>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
  </select><br>
  <button type="submit">Register</button>
</form>
</body>
</html>
