<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to My Site</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    html {
  position: relative;
  min-height: 100%;
}
     body{
      margin: 0;
      padding: 0;
      background-image: url('https://images.creativemarket.com/0.1.0/ps/3502195/3005/2001/m1/fpnw/wm1/cosmetics-background-0-.jpg?1&s=54efc93709b8b5b1b70aef224e5d36dd');
      background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-size: 100%;
     } 

     h1, nav ul {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #fff;
      color: #333;
    }

    .content {
      flex: 1 0 auto;
    }

    footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; 
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  color: #d63384; 
}


    nav {
      background-color: #ffddf4;
      padding: 1rem 0;
    }

    nav ul {
      list-style-type: none;
      text-align: center;
    }

    nav ul li {
      display: inline;
      margin: 0 15px;
    }

    nav a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }

    h1 {
      text-align: center;
      color: #d81b60;
      padding: 20px 0;
    }

    .form-container {
      display: flex;
      justify-content: center;
      padding: 20px;
    }

    input[type="text"], input[type="password"] {
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      background-color: #d81b60;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #bf1650;
    }

    img{
      border-color: #bf1650;
    }
  </style>
</head>
<body>
  <nav class="container-fluid">
    <ul>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <div class="container">
    <h1>Welcome to my site</h1>
    
  </div>

  <footer class="text-center">
    <div class="container">
      <span class="text-muted">© 2024 Zhanerke Bekbolat - IT-2204</span>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
